
# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.env

# ignore gradio private files
.gradio
/.gradio


# Jupyter Notebook
.ipynb_checkpoints